<!DOCTYPE html>
<% var htmlLang='' ; if (Array.isArray(config.language)) { htmlLang=config.language[0] || '' ; } else if
  (config.language) { htmlLang=config.language; } if (page && page.lang) { htmlLang=page.lang; } %>
  <html<%= htmlLang ? ' lang="' + htmlLang + '"' : '' %>>
    <%- partial('_partial/head') %>

      <body class="max-width mx-auto px3 <%- theme.direction -%>">
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_desktop') %>
            <% } %>
              <div class="content index py4 <%= is_home() ? 'h-card' : '' %>">
                <% if (!is_post()) { %>
                  <%- partial('_partial/header') %>
                    <% } %>
                      <%- body %>
                        <% if (is_post()) { %>
                          <%- partial('_partial/post/actions_mobile') %>
                            <% } %>
                              <%- partial('_partial/footer') %>
              </div>
              <%- partial('_partial/styles') %>
                <%- partial('_partial/scripts') %>
      </body>

      </html>