<%
  var currentPath = (page && page.path) ? page.path : '';
  currentPath = currentPath.replace(/^\/+/, '');
  var isEnglish = currentPath === 'en' || currentPath.indexOf('en/') === 0;
  var basePath = isEnglish ? currentPath.replace(/^en\/?/, '') : currentPath;

  if (basePath === 'index.html') {
    basePath = '';
  }

  var zhPath = '/' + basePath;
  var enPath = '/en/' + basePath;

  zhPath = zhPath.replace(/\/+/g, '/');
  enPath = enPath.replace(/\/+/g, '/');

  if (zhPath !== '/' && zhPath.endsWith('index.html')) {
    zhPath = zhPath.replace(/index\.html$/, '');
  }

  if (enPath !== '/en/' && enPath.endsWith('index.html')) {
    enPath = enPath.replace(/index\.html$/, '');
  }

  if (!zhPath.endsWith('/')) {
    zhPath += '/';
  }

  if (!enPath.endsWith('/')) {
    enPath += '/';
  }

  var languageToggleLabel = isEnglish ? '中文' : 'English';
  var languageToggleTarget = isEnglish ? zhPath : enPath;
%>

<header id="header">
  <a class="u-url u-uid" href="<%- url_for('/') %>">
  <% if (theme.logo && theme.logo.enabled) { %>
    <% if (theme.gravatar && (theme.gravatar.email || theme.gravatar.hash) && theme.logo.gravatar) { %>
      <% if (theme.gravatar.email) { %>
        <img id="logo" alt class="u-logo"
          srcset="<%- gravatar(theme.gravatar.email) %>?s=<%= theme.logo.width %>, <%- gravatar(theme.gravatar.email) %>?s=<%= theme.logo.width*1.5 %> 1.5x, <%- gravatar(theme.gravatar.email) %>?s=<%= theme.logo.width*2 %> 2x"
          src="<%- gravatar(theme.gravatar.email) %>" />
      <% } else { %>
        <img id="logo" alt class="u-logo"
          srcset="https://www.gravatar.com/avatar/<%= theme.gravatar.hash %>?s=<%= theme.logo.width %>, https://www.gravatar.com/avatar/<%= theme.gravatar.hash %>?s=<%= theme.logo.width*1.5 %> 1.5x, https://www.gravatar.com/avatar/<%= theme.gravatar.hash %>?s=<%= theme.logo.width*2 %> 2x"
          src="https://www.gravatar.com/avatar/<%= theme.gravatar.hash %>" />
      <% } %>
    <% } else { %>
      <img id="logo" alt class="u-logo" src="<%- url_for(theme.logo.url) %>" />
    <% } %>
  <% } %>
    <div id="title">
      <h1 class="p-name"><%= config.title %></h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#" aria-label="<%- __('icons.menu') %>"><i class="fa-solid fa-bars fa-2x"></i></a>
      </li>
      <li class="language-toggle-item">
        <a href="<%- url_for(languageToggleTarget) %>" aria-label="Switch language"><%= languageToggleLabel %></a>
      </li>
      <li class="theme-toggle-item">
        <a href="#" id="theme-toggle" aria-label="Toggle theme"><i id="theme-toggle-icon" class="fa-solid fa-moon"></i></a>
      </li>
      <% for (var i in theme.nav) { %><!--
     --><%
          var navPath = theme.nav[i];
          var isExternal = /^(https?:)?\/\//.test(navPath);
          var navUrl = navPath;

          if (!isExternal && isEnglish) {
            if (navPath === '/') {
              navUrl = '/en/';
            } else if (navPath.indexOf('/en/') !== 0) {
              navUrl = '/en' + (navPath.indexOf('/') === 0 ? navPath : '/' + navPath);
            }
          }
      %><li><a href="<%- url_for(navUrl) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li><!--
   --><% } %>
    </ul>
  </div>
</header>
